*{
    
    box-sizing: border-box;
}
.header, .nav, .footer{
    background-color: gray;
    padding: 5px;
    color: white;
    text-align: center;
}
.nav{
    margin-top: 1px;
}
.column{
    float: left;
    padding: 12px;
}
.column.side{
    width: 25%;
}
.column.middle{
    width: 50%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
@media  screen and (max-width:700px) {
    .column.side, .column.middle{
        width:100%
    }
    
}